<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header', {title}) %>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        
        <div class="controls">
            <button id="createLink" class="btn">Crear Nuevo Enlace</button>
            <button id="modifyLinks" class="btn">Modificar Enlaces</button>
            <button id="resetLinks" class="btn">Restablecer Enlaces</button>
        </div>
        
        <div class="links-container" id="linksContainer">
            <% initialLinks.forEach(link => { %>
                <a href="<%= link.href %>" 
                   id="link<%= link.id %>" 
                   class="link-item" 
                   data-original-href="<%= link.href %>">
                    <%= link.text %>
                </a>
            <% }); %>
        </div>
        
        <div class="log-container" id="logContainer">
            <h3>Registro de Cambios:</h3>
            <div class="log-content" id="logContent"></div>
        </div>
    </div>
    
    <script src="/scripts/main.js"></script>
    <%- include('partials/footer') %>
</body>
</html>